<!-- Race Points Claim Modal (global, to be included in base.html) -->
<div id="race-claim-modal" class="race-claim-modal" style="display:none;">
  <div class="race-claim-modal-content">
    <img id="race-claim-user-img" class="race-claim-user-img" src="" alt="User Image">
    <div id="race-claim-username" class="race-claim-username"></div>
    <div id="race-claim-message" class="race-claim-message"></div>
    <button id="race-claim-btn" class="race-claim-btn">Claim</button>
  </div>
</div>
<!-- Modal Blur Overlay -->
<div id="race-claim-blur" class="race-claim-blur" style="display:none;"></div>
